.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.header-ar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.header .left h2,
.header-ar .left h2 {
  color: var(--body-color);
}
.header .right-controll,
.header-ar .right-controll {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.header-ar .right-controll {
  flex-direction: row-reverse;
}
.header .right-controll ion-icon,
.header-ar .right-controll ion-icon {
  color: var(--body-color);
  font-size: 1.1rem;
}
.header .right-controll .notify,
.header-ar .right-controll .notify {
  position: relative;
  cursor: pointer;
  padding: 3px 15px;
  background-color: var(--body-color);
  color: var(--body-backGround);
}

.header .right-controll span ion-icon,
.header-ar .right-controll span ion-icon {
  color: var(--body-color);
  font-size: 1.1rem;
}
.header .dropdown,
.header-ar .dropdown {
  position: relative;
  display: inline-block;
}
.header .dropdown .drop-down-content,
.header-ar .dropdown .drop-down-content {
  display: none;
  position: absolute;
  background-color: var(--body-backGround);
  color: var(--body-color);
  min-width: 100px;
  padding: 10px;
  z-index: 5;
}
.header .dropdown button,
.header-ar .dropdown button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
  background-color: transparent;
  color: var(--body-color);
  border: 1px solid var(--body-color);
  padding: 3px 10px;
}
.dropdown:hover .drop-down-content {
  display: block;
}
.header .dropdown .drop-down-content button,
.header-ar .dropdown .drop-down-content button {
  width: 100%;
  margin-bottom: 10px;
}
.header .dropdown .drop-down-content button:hover,
.header-ar .dropdown .drop-down-content button:hover {
  background-color: var(--body-color);
  color: var(--body-backGround);
}
@media screen and (max-width: 700px) {
  .header,
  .header-ar {
    /* height: 20vh !important; */
    position: relative;
    z-index: 111;
    width: 100%;
    top: 0;
  }
}
