.textConent {
  padding: 10px;
  width: 100%;
  /* font-size: 22px; */
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80vh;
  overflow: scroll;
  color: var(--body-color);
  h1 {
    margin-bottom: 22px;
  }
  img {
    margin-bottom: 22px;
    width: fit-content;
  }
}
input {
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
}
@media screen and (max-width: 700px) {
  .textConent {
    height: 96vh !important;
    margin-top: 10vh;
  }
}
