.textConent {
  padding: 10px;
  width: fit-content;
  font-size: 22px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80vh;
  overflow: scroll;
  color: var(--body-color);
  h1 {
    margin-bottom: 22px;
  }
  img {
    margin-bottom: 22px;
    width: fit-content;
  }
}
