/* 
.audioCard {
  width: 100%;
  height: fit-content;
  border-radius: 0px;
  background: var(--card-color);
  box-shadow: 15px 15px 30px var(--shadow-color1),
    -15px -15px 30px var(--shadow-color2);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 15px 15px 15px;
  position: relative;
  overflow: hidden;
  user-select: none;
  position: fixed;
  bottom: 0;
}
#volumeRange {
  position: absolute;
  left: 5rem;
  top: 5rem;
  transform: rotate(0deg);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
.progressData {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 10px;
  color: var(--body-color);
  justify-content: space-between;
}
#progress {
  appearance: none;
  background: transparent;
  margin: 10px 0;
  width: 100%;
}
#progress::-webkit-slider-runnable-track {
  background-color: #eee;
  height: 2px;
}

#progress::-moz-range-track {
  background: black;
  height: 0.5rem;
}
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
  background: var(--body-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -2px;
}

#volumeRange::-webkit-slider-runnable-track {
  background-color: var(--body-color);
  height: 2px;
}

#volumeRange::-moz-range-track {
  background: var(--body-color);
  height: 0.5rem;
}
#volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: var(--body-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}
.imgRotate {
  box-shadow: 15px 15px 30px var(--shadow-color1),
    -15px -15px 30px var(--shadow-color2);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 0px;
}
.imgRotate img {
  width: 50px;
  height: 50px;
  border: 3px solid var(--body-color);
  border-radius: 50%;
  padding: 5px;
  animation-name: imgRotate;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.audioCard .controls {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--body-color);
  cursor: pointer;
}
.audioCard .controls button {
  background-color: transparent;
  border: none;
  outline: none;
}
.audioCard .controls button ion-icon {
  font-size: 3rem;
  color: var(--body-color);
  cursor: pointer;
}
.audioCard .controls ion-icon {
  font-size: 2rem;
}
.name {
  font-size: 0.8rem;
  font-weight: bold;
  width: 600px;
  text-align: center;
  color: var(--body-color);
  margin: 0 0 10px 0;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.smImg {
  display: none;
}
@keyframes slider {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translate(-100%);
  }
}
@keyframes imgRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 700px) {
  .audioCard {
    width: 90%;
    height: 70vh;
    margin-top: 1rem;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 15px 15px 15px;
    position: static;
    top: 0;
    left: 0;
    transform: translateY(0%);
  }
  #volumeRange {
    position: absolute;
    right: 32%;
    top: 1rem;
    transform: rotate(0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
  }
  .imgRotate {
    margin-top: 10px;
    box-shadow: none;
    width: 100%;
    height: 70%;
    border-radius: 50%;
    margin-bottom: 0px;
    position: relative;
  }

  .imgRotate img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    padding: 5px;
    animation-duration: 0s;
    animation-iteration-count: 0;
    filter: blur(4px);
    position: relative;
  }
  .smImg {
    display: block;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .smImg img {
    display: block;
    position: absolute;
    width: 70%;
    height: 70%;
    filter: blur(0px);
    z-index: 1;
    border-radius: 0;
    margin-top: 20%;
  }
  .imgRotate img::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    background-color: red;
    z-index: 11;
  }
  .audioCard .controls {
    position: absolute;
    bottom: 3rem;
  }

  .audioCard .controls button ion-icon {
    font-size: 3rem;
  }
  .audioCard .controls ion-icon {
    font-size: 2rem;
  }
  .name {
    position: absolute;
    bottom: 6.5rem;
  }
}
*/
.audioCard {
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--card-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.ara {
  flex-direction: row-reverse;
}
.ena {
  flex-direction: row;
}
.audioCard .imgRotate {
  display: flex;
  align-items: center;
  gap: 5px;
}
.imgRotate .name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  color: var(--body-color);
  .qaraName {
    font-size: 13px;
    opacity: 0.8;
  }
}
.arn {
  flex-direction: row-reverse;
}
.enn {
  flex-direction: row;
}
.audioCard .imgRotate img {
  height: 80px;
  max-width: 100px;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--body-color);
}
.controls .control {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.controls .control button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--body-color);
}
.audioCard .controls button ion-icon {
  font-size: 3rem;
  color: var(--body-color);
  cursor: pointer;
}
.audioCard .controls ion-icon {
  font-size: 2rem;
}
.controls .progressData {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 13px;
  color: var(--body-color);
}
#progress {
  appearance: none;
  background: transparent;
  margin: 10px 0;
  width: 200px;
}
#progress::-webkit-slider-runnable-track {
  background-color: #eee;
  height: 2px;
}

#progress::-moz-range-track {
  background: black;
  height: 0.5rem;
}
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
  background: var(--body-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -2px;
}
#volumeRange {
  margin-right: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
#volumeRange::-webkit-slider-runnable-track {
  background-color: var(--body-color);
  height: 2px;
}

#volumeRange::-moz-range-track {
  background: var(--body-color);
  height: 0.5rem;
}
#volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: var(--body-color);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}
