:root {
  --body-backGround: #e8e8e8;
  --body-color: black;
  --link-color: navy;
  --card-color: #e0e0e0;
  --shadow-color1: #bebebe;
  --shadow-color2: #ffffff;
}
[data-theme="dark"] {
  --body-backGround: #212121;
  --body-color: white;
  --link-color: cyan;
  --card-color: #212121;
  --shadow-color1: rgb(25, 25, 25);
  --shadow-color2: rgb(60, 60, 60);
}
* {
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.4s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-backGround);
}
.content {
  display: flex;
  gap: 20px;
  gap: 5px;
  margin-top: 2rem;
  overflow: hidden;
}
.arc {
  flex-direction: row-reverse;
}
.enc {
  flex-direction: row;
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 700px) {
  .content {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 0rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
