@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Reem+Kufi:wght@400..700&family=Scheherazade+New:wght@400;500;600;700&display=swap");
:root {
  --body-backGround: #e8e8e8;
  --body-color: black;
  --link-color: navy;
  --card-color: #e0e0e0;
  --shadow-color1: #bebebe;
  --shadow-color2: #ffffff;
}
[data-theme="dark"] {
  --body-backGround: #212121;
  --body-color: white;
  --link-color: cyan;
  --card-color: #212121;
  --shadow-color1: rgb(25, 25, 25);
  --shadow-color2: rgb(60, 60, 60);
}
* {
  font-family: "Scheherazade New", serif;
  transition: all 0.4s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-backGround);
  font-family: "Scheherazade New", serif;
}
.content {
  display: flex;
  gap: 20px;
  gap: 5px;
  margin-top: 2rem;
  overflow: hidden;
}
.arc {
  flex-direction: row-reverse;
}
.enc {
  flex-direction: row;
}
::-webkit-scrollbar {
  display: none;
}
.loadingIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-width: 1px;
  border-style: solid;
  border-color: black black transparent black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 700px) {
  .content {
    height: 92vh !important;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 0rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
